/*
CSS contenant du style spécifique à certains éléments
*/

#groupeRecherche{
    margin-top: 5%;
}

#logCart{
    margin-top: 1%;
}


#tete{
    margin-top: 1%;
}

#nomLogiKek{
    margin-left: 2%;
}

#rechercheCat{
	margin-left: 15px;
	margin-right: 20px;
	box-shadow: 0 0 10px black;
	text-align: center;
	padding-left: 10px;

}

#rechercheCat ul{
	list-style: none;
}

#rechercheCat li{
	margin-left: -36px;
	font-size: 120%;
}