.pub > img {
	max-height: 25%;
	max-width: 25%; 
	margin: auto;

}

#aucunProduit{
    text-align: center;
}

.imgProduitPetit > img{
    width: 180px;
    height: 135px;

    max-width: 180px;
    max-height: 135px;
}

.proCategorie{
    font-size: 90%;
}

.proPrix{
    text-align: center;
    font-weight: bold;
}

.proCart{
    font-size: 130%;
}

.produit > a{
    cursor: pointer;
}


#myModal{
    top: 10%;
    left: 40%;
    width: 30em;
}


#myModal h4{
    text-align: center;
}


#myModal .modal-footer{
    text-align: center;
    font-weight: bold;
}